<h1>My Movies</h1>
<div *ngIf="movies.length !=0" class="movies">
    <div class="movie" *ngFor="let movie of movies;let i = index">
            <div class="movie-container" >
                <img
                *ngIf="movie.poster_path"
                src='https://image.tmdb.org/t/p/w342/{{movie.poster_path}}'
                alt=""
                class="movie-img"
                />
            </div>
            <div class="movie-description">
                <p class="movie-name">{{movie.title}}</p>
                <p class="movie-release_date">Release Date:{{movie.release_date}}</p>
            </div>  
            <button class="delete-button" (click)="removeItem(movie)">Delete</button>
    </div>
    <button class="clear-button" (click)="emptycart()">X</button>
</div>