<p>login: NataliiaDavida</p>
<p>password: Dn123456</p>
<br><br><br>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Sign In</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form-content" [formGroup]="formGroup" (ngSubmit)="loginProces()"> 
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button color="primary" mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>

